<%= render '/posts/sides'%>

<div id="write">
	<h3>Wrriting a Post ...</h3>
		<form method="post" action="/posts?kind=post">
			<span>Title : </span><input  id="post_title" type="text" name="title"><br /><br />
			<span>Category : </span><select name="category">
				<% @categories.each do |cat|%>
					<option value="<%= cat.name %>"><%= cat.title%></option>	
				<% end %>
			</select><br /><br />
			<textarea  name="body" rows="30" cols="70" ></textarea><br /> 
			<input id="ask" type="submit" value="POST">
		</form>
</div>
<br/>
<hr />